.overflowhide::-webkit-scrollbar {
    display: none;
}


@media only screen and (max-width: 600px) {
    .acy-logo img {
        margin: 0 auto;
    }
}

.acy-logo img {
    width: 125px;
    height: auto;
    margin-bottom: 51px;
}

.acyImage img {
    padding: 5px;
    height: -webkit-fill-available;
}
